In [1]:
import pandas as pd
import numpy as np

In [2]:
nitrate_df = pd.read_csv("nitrate_2017.csv")
nitrate_df

,pwsId,year,analyteCode,pwsName,countyServed,cityServed,waterSource,mean,max,populationServed,fips,Unnamed: 11
0,1010001,2017,Nitrate,Aitkin,Aitkin,Aitkin,Groundwater,0.025 mg/L (ND),0.025 mg/L (ND),2165,27001,NaN
1,1010002,2017,Nitrate,Thompson Mobile Home Park,Aitkin,Aitkin,Groundwater,0.025 mg/L (ND),0.025 mg/L (ND),45,27001,NaN
2,1010019,2017,Nitrate,Why-Not Park,Aitkin,Aitkin,Groundwater,0.025 mg/L (ND),0.025 mg/L (ND),25,27001,NaN
3,1010011,2017,Nitrate,Hill City,Aitkin,Hill City,Groundwater,0.025 mg/L (ND),0.025 mg/L (ND),633,27001,NaN
4,1010016,2017,Nitrate,McGregor,Aitkin,McGregor,Groundwater,0.025 mg/L (ND),0.025 mg/L (ND),394,27001,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
958,1870005,2017,Nitrate,Hanley Falls,Yellow Medicine,Hanley Falls,Groundwater,0.025 mg/L (ND),0.025 mg/L (ND),275,27173,NaN
959,1870011,2017,Nitrate,Hazel Run,Yellow Medicine,Hazel Run,Purchased Groundwater,4.812 mg/L,5.8 mg/L,61,27173,NaN
960,1870006,2017,Nitrate,Porter,Yellow Medicine,Porter,Purchased Groundwater,4.812 mg/L,5.8 mg/L,180,27173,NaN
961,1870007,2017,Nitrate,Saint Leo,Yellow Medicine,St. Leo,Purchased Groundwater,4.812 mg/L,5.8 mg/L,97,27173,NaN
962,1870008,2017,Nitrate,Wood Lake,Yellow Medicine,Wood Lake,Groundwater,0.025 mg/L (ND),0.025 mg/L (ND),439,27173,NaN

In [3]:
clean_nitrate_df = nitrate_df.loc[:, ["analyteCode", "countyServed", "waterSource", "mean", "max", "populationServed"]]

In [8]:
clean_nitrate_df
print(clean_nitrate_df.dtypes)

object

In [5]:
clean_nitrate_df = clean_nitrate_df['mean']
clean_nitrate_df

0      0.025 mg/L (ND)
1      0.025 mg/L (ND)
2      0.025 mg/L (ND)
3      0.025 mg/L (ND)
4      0.025 mg/L (ND)
            ...
958    0.025 mg/L (ND)
959         4.812 mg/L
960         4.812 mg/L
961         4.812 mg/L
962    0.025 mg/L (ND)
Name: mean, Length: 963, dtype: object

In [45]:
#clean_nitrate_df['mean'] = pd.to_numeric(clean_nitrate_df['mean']) 

clean_nitrate_df['mean'].replace(regex=True, inplace=True, to_replace=r'[^0-9.\-]', value=r'') clean_nitrate_df['mean'] = df['mean'].astype(float64)
clean_nitrate_df['mean']

SyntaxError: invalid syntax (<ipython-input-45-1cf61f3757b1>, line 3)

In [26]:
clean_nitrate_df['mean'] = clean_nitrate_df['mean'].apply(pd.to_numeric)
clean_nitrate_df['mean']

0     NaN
1     NaN
2     NaN
3     NaN
4     NaN
       ..
958   NaN
959   NaN
960   NaN
961   NaN
962   NaN
Name: mean, Length: 963, dtype: float64