In [1]:
# Import Dependencies
import pandas as pd

In [2]:
# Create a path to the csv and read it into a Pandas DataFrame for Poverty Rate Data
csv_path = "CountyPovertyRate.csv"
county_pov_df = pd.read_csv(csv_path)

county_pov_df.head()

  Rank             County Poverty Rate Urban/Rural/Sub
0  1st      Carver County        4.00%        Suburban
1  2nd  Washington County        5.00%        Suburban
2  3rd      Wright County        5.00%        Suburban
3  4th     Chisago County        5.40%           Rural
4  5th       Scott County        5.60%        Suburban

In [3]:
#Create path to csv for arsenic 2017 data and read into Pandas Dataframe
csv_path = "arsenic_2017.csv"
arsenic2017_df= pd.read_csv(csv_path)

arsenic2017_df.head()

,pwsId,year,analyteCode,pwsName,countyServed,cityServed,waterSource,mean,max,populationServed,fips,Unnamed: 11
0,1010001,2017.0,Arsenic,Aitkin,Aitkin,Aitkin,Groundwater,3.09 ug/L,3.22 ug/L,2165.0,27001.0,NaN
1,1010002,2017.0,Arsenic,Thompson Mobile Home Park,Aitkin,Aitkin,Groundwater,0.5 ug/L (ND),0.5 ug/L (ND),45.0,27001.0,NaN
2,1010019,2017.0,Arsenic,Why-Not Park,Aitkin,Aitkin,Groundwater,5.29 ug/L,6.02 ug/L,25.0,27001.0,NaN
3,1010011,2017.0,Arsenic,Hill City,Aitkin,Hill City,Groundwater,4.77 ug/L,4.77 ug/L,633.0,27001.0,NaN
4,1010016,2017.0,Arsenic,McGregor,Aitkin,McGregor,Groundwater,4.83 ug/L,4.83 ug/L,394.0,27001.0,NaN

In [4]:
#verify data types in pandas database for arsenic
arsenic2017_df.dtypes

pwsId                object
year                float64
analyteCode          object
pwsName              object
countyServed         object
cityServed           object
waterSource          object
mean                 object
max                  object
populationServed    float64
fips                float64
Unnamed: 11         float64
dtype: object

In [5]:
#delete the empty column on the end named "Unnamed:11"
arsenic2017_df=arsenic2017_df.drop(columns=['Unnamed: 11'])
arsenic2017_df.head()

,pwsId,year,analyteCode,pwsName,countyServed,cityServed,waterSource,mean,max,populationServed,fips
0,1010001,2017.0,Arsenic,Aitkin,Aitkin,Aitkin,Groundwater,3.09 ug/L,3.22 ug/L,2165.0,27001.0
1,1010002,2017.0,Arsenic,Thompson Mobile Home Park,Aitkin,Aitkin,Groundwater,0.5 ug/L (ND),0.5 ug/L (ND),45.0,27001.0
2,1010019,2017.0,Arsenic,Why-Not Park,Aitkin,Aitkin,Groundwater,5.29 ug/L,6.02 ug/L,25.0,27001.0
3,1010011,2017.0,Arsenic,Hill City,Aitkin,Hill City,Groundwater,4.77 ug/L,4.77 ug/L,633.0,27001.0
4,1010016,2017.0,Arsenic,McGregor,Aitkin,McGregor,Groundwater,4.83 ug/L,4.83 ug/L,394.0,27001.0

In [6]:
#verify any empty data cells
arsenic2017_df['mean'].isnull().sum()

10

In [7]:
#verify what is in the empty data cells
nullData=arsenic2017_df.loc[arsenic2017_df['mean'].isnull()]
nullData

,pwsId,year,analyteCode,pwsName,countyServed,cityServed,waterSource,mean,max,populationServed,fips
962,Source:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
963,Minnesota Public Health Data Access,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
964,Minnesota Environmental Public Health Tracking...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
965,Minnesota Department of Health,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
966,P.O. Box 64882,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
967,"St. Paul, MN 55164-0882",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
968,Phone: (651) 201-5900 or toll free: 1-800-205-...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
969,Fax: (651) 201-5926,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
970,E-mail: tracking.health@state.mn.us,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
971,Web: http://health.mn.gov/mndata,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
#delete the null data and confirm no more NaN
arsenic2017_df=arsenic2017_df.dropna()
arsenic2017_df['mean'].isnull().sum()

0

In [9]:
#drop concentration string out of contaminate level columns "mean" and "max"
arsenic2017_df['mean']=arsenic2017_df['mean'].str.split(" ").str[0]
arsenic2017_df['max']=arsenic2017_df['max'].str.split(" ").str[0]
arsenic2017_df.head()

,pwsId,year,analyteCode,pwsName,countyServed,cityServed,waterSource,mean,max,populationServed,fips
0,1010001,2017.0,Arsenic,Aitkin,Aitkin,Aitkin,Groundwater,3.09,3.22,2165.0,27001.0
1,1010002,2017.0,Arsenic,Thompson Mobile Home Park,Aitkin,Aitkin,Groundwater,0.5,0.5,45.0,27001.0
2,1010019,2017.0,Arsenic,Why-Not Park,Aitkin,Aitkin,Groundwater,5.29,6.02,25.0,27001.0
3,1010011,2017.0,Arsenic,Hill City,Aitkin,Hill City,Groundwater,4.77,4.77,633.0,27001.0
4,1010016,2017.0,Arsenic,McGregor,Aitkin,McGregor,Groundwater,4.83,4.83,394.0,27001.0

In [10]:
#rename column headers for contaminates to include concentrations so the information isn't lost
arsenic2017_df=arsenic2017_df.rename(columns={"mean":"Mean ug/L", "max":"Max ug/L"})
arsenic2017_df.head()

,pwsId,year,analyteCode,pwsName,countyServed,cityServed,waterSource,Mean ug/L,Max ug/L,populationServed,fips
0,1010001,2017.0,Arsenic,Aitkin,Aitkin,Aitkin,Groundwater,3.09,3.22,2165.0,27001.0
1,1010002,2017.0,Arsenic,Thompson Mobile Home Park,Aitkin,Aitkin,Groundwater,0.5,0.5,45.0,27001.0
2,1010019,2017.0,Arsenic,Why-Not Park,Aitkin,Aitkin,Groundwater,5.29,6.02,25.0,27001.0
3,1010011,2017.0,Arsenic,Hill City,Aitkin,Hill City,Groundwater,4.77,4.77,633.0,27001.0
4,1010016,2017.0,Arsenic,McGregor,Aitkin,McGregor,Groundwater,4.83,4.83,394.0,27001.0

In [11]:
#convert contaminate columns from object to integer, confirm data type in columns
arsenic2017_df["Mean ug/L"] = pd.to_numeric(arsenic2017_df["Mean ug/L"])
arsenic2017_df["Max ug/L"] = pd.to_numeric(arsenic2017_df["Max ug/L"])
print(arsenic2017_df.dtypes)

pwsId                object
year                float64
analyteCode          object
pwsName              object
countyServed         object
cityServed           object
waterSource          object
Mean ug/L           float64
Max ug/L            float64
populationServed    float64
fips                float64
dtype: object