In [1]:
# Import Dependencies
import pandas as pd

In [2]:
# Create a path to the csv and read it into a Pandas DataFrame for Poverty Rate Data
csv_path = "CountyPovertyRate.csv"
county_pov_df = pd.read_csv(csv_path)

county_pov_df.head()

  Rank             County Poverty Rate Urban/Rural/Sub
0  1st      Carver County        4.00%        Suburban
1  2nd  Washington County        5.00%        Suburban
2  3rd      Wright County        5.00%        Suburban
3  4th     Chisago County        5.40%           Rural
4  5th       Scott County        5.60%        Suburban

In [3]:
#Create path to csv for uranium 2017 data and read into Pandas Dataframe
csv_path = "uranium_2017.csv"
uranium2017_df= pd.read_csv(csv_path)

uranium2017_df.head()

,pwsId,year,analyteCode,pwsName,countyServed,cityServed,waterSource,mean,max,populationServed,fips,Unnamed: 11
0,1020034,2017.0,Uranium,Andover,Anoka,Andover,Groundwater,0.33 pCi/L (ND),0.33 pCi/L (ND),19918.0,27003.0,NaN
1,1020001,2017.0,Uranium,Anoka,Anoka,Anoka,Groundwater,0.34 pCi/L (ND),0.34 pCi/L (ND),17995.0,27003.0,NaN
2,1020011,2017.0,Uranium,Village Green North Mobile Home Park,Anoka,Cedar,Groundwater,0.19 pCi/L,0.19 pCi/L,450.0,27003.0,NaN
3,1020017,2017.0,Uranium,Coon Rapids,Anoka,Coon Rapids,Groundwater,0.33 pCi/L (ND),0.33 pCi/L (ND),61481.0,27003.0,NaN
4,1020042,2017.0,Uranium,East Bethel,Anoka,East Bethel,Groundwater,0.73 pCi/L,0.97 pCi/L,137.0,27003.0,NaN

In [4]:
#verify data types in pandas database for uranium
uranium2017_df.dtypes

pwsId                object
year                float64
analyteCode          object
pwsName              object
countyServed         object
cityServed           object
waterSource          object
mean                 object
max                  object
populationServed    float64
fips                float64
Unnamed: 11         float64
dtype: object

In [5]:
#delete the empty column on the end named "Unnamed:11"
uranium2017_df=uranium2017_df.drop(columns=['Unnamed: 11'])
uranium2017_df.head()

,pwsId,year,analyteCode,pwsName,countyServed,cityServed,waterSource,mean,max,populationServed,fips
0,1020034,2017.0,Uranium,Andover,Anoka,Andover,Groundwater,0.33 pCi/L (ND),0.33 pCi/L (ND),19918.0,27003.0
1,1020001,2017.0,Uranium,Anoka,Anoka,Anoka,Groundwater,0.34 pCi/L (ND),0.34 pCi/L (ND),17995.0,27003.0
2,1020011,2017.0,Uranium,Village Green North Mobile Home Park,Anoka,Cedar,Groundwater,0.19 pCi/L,0.19 pCi/L,450.0,27003.0
3,1020017,2017.0,Uranium,Coon Rapids,Anoka,Coon Rapids,Groundwater,0.33 pCi/L (ND),0.33 pCi/L (ND),61481.0,27003.0
4,1020042,2017.0,Uranium,East Bethel,Anoka,East Bethel,Groundwater,0.73 pCi/L,0.97 pCi/L,137.0,27003.0

In [6]:
#verify any empty data cells
uranium2017_df['mean'].isnull().sum()

10

In [7]:
#verify what is in the empty data cells
nullData=uranium2017_df.loc[uranium2017_df['mean'].isnull()]
nullData

,pwsId,year,analyteCode,pwsName,countyServed,cityServed,waterSource,mean,max,populationServed,fips
138,Source:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
139,Minnesota Public Health Data Access,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
140,Minnesota Environmental Public Health Tracking...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
141,Minnesota Department of Health,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
142,P.O. Box 64882,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
143,"St. Paul, MN 55164-0882",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
144,Phone: (651) 201-5900 or toll free: 1-800-205-...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
145,Fax: (651) 201-5926,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
146,E-mail: tracking.health@state.mn.us,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
147,Web: http://health.mn.gov/mndata,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
#delete the null data and confirm no more NaN
uranium2017_df=uranium2017_df.dropna()
uranium2017_df['mean'].isnull().sum()

0

In [9]:
#drop concentration string out of contaminate level columns "mean" and "max"
uranium2017_df['mean']=uranium2017_df['mean'].str.split(" ").str[0]
uranium2017_df['max']=uranium2017_df['max'].str.split(" ").str[0]
uranium2017_df.head()

,pwsId,year,analyteCode,pwsName,countyServed,cityServed,waterSource,mean,max,populationServed,fips
0,1020034,2017.0,Uranium,Andover,Anoka,Andover,Groundwater,0.33,0.33,19918.0,27003.0
1,1020001,2017.0,Uranium,Anoka,Anoka,Anoka,Groundwater,0.34,0.34,17995.0,27003.0
2,1020011,2017.0,Uranium,Village Green North Mobile Home Park,Anoka,Cedar,Groundwater,0.19,0.19,450.0,27003.0
3,1020017,2017.0,Uranium,Coon Rapids,Anoka,Coon Rapids,Groundwater,0.33,0.33,61481.0,27003.0
4,1020042,2017.0,Uranium,East Bethel,Anoka,East Bethel,Groundwater,0.73,0.97,137.0,27003.0

In [10]:
#rename column headers for contaminates to include concentrations so the information isn't lost
uranium2017_df=uranium2017_df.rename(columns={"mean":"Mean pCi/L (ND)", "max":"Max pCi/L (ND)"})
uranium2017_df.head()

,pwsId,year,analyteCode,pwsName,countyServed,cityServed,waterSource,Mean pCi/L (ND),Max pCi/L (ND),populationServed,fips
0,1020034,2017.0,Uranium,Andover,Anoka,Andover,Groundwater,0.33,0.33,19918.0,27003.0
1,1020001,2017.0,Uranium,Anoka,Anoka,Anoka,Groundwater,0.34,0.34,17995.0,27003.0
2,1020011,2017.0,Uranium,Village Green North Mobile Home Park,Anoka,Cedar,Groundwater,0.19,0.19,450.0,27003.0
3,1020017,2017.0,Uranium,Coon Rapids,Anoka,Coon Rapids,Groundwater,0.33,0.33,61481.0,27003.0
4,1020042,2017.0,Uranium,East Bethel,Anoka,East Bethel,Groundwater,0.73,0.97,137.0,27003.0

In [11]:
#convert contaminate columns from object to integer, confirm data type in columns
uranium2017_df["Mean pCi/L (ND)"] = pd.to_numeric(uranium2017_df["Mean pCi/L (ND)"])
uranium2017_df["Max pCi/L (ND)"] = pd.to_numeric(uranium2017_df["Max pCi/L (ND)"])
print(uranium2017_df.dtypes)

pwsId                object
year                float64
analyteCode          object
pwsName              object
countyServed         object
cityServed           object
waterSource          object
Mean pCi/L (ND)     float64
Max pCi/L (ND)      float64
populationServed    float64
fips                float64
dtype: object