In [24]:
# Import Dependencies
import pandas as pd

In [25]:
# Create a path to the csv and read it into a Pandas DataFrame for Poverty Rate Data
csv_path = "CountyPovertyRate.csv"
county_pov_df = pd.read_csv(csv_path)

county_pov_df.head()

  Rank             County Poverty Rate Urban/Rural/Sub
0  1st      Carver County        4.00%        Suburban
1  2nd  Washington County        5.00%        Suburban
2  3rd      Wright County        5.00%        Suburban
3  4th     Chisago County        5.40%           Rural
4  5th       Scott County        5.60%        Suburban

In [26]:
#Create path to csv for nitrate 2017 data and read into Pandas Dataframe
csv_path = "nitrate_2017.csv"
nitrate2017_df= pd.read_csv(csv_path)

nitrate2017_df.head()

,pwsId,year,analyteCode,pwsName,countyServed,cityServed,waterSource,mean,max,populationServed,fips,Unnamed: 11
0,1010001,2017.0,Nitrate,Aitkin,Aitkin,Aitkin,Groundwater,0.025 mg/L (ND),0.025 mg/L (ND),2165.0,27001.0,NaN
1,1010002,2017.0,Nitrate,Thompson Mobile Home Park,Aitkin,Aitkin,Groundwater,0.025 mg/L (ND),0.025 mg/L (ND),45.0,27001.0,NaN
2,1010019,2017.0,Nitrate,Why-Not Park,Aitkin,Aitkin,Groundwater,0.025 mg/L (ND),0.025 mg/L (ND),25.0,27001.0,NaN
3,1010011,2017.0,Nitrate,Hill City,Aitkin,Hill City,Groundwater,0.025 mg/L (ND),0.025 mg/L (ND),633.0,27001.0,NaN
4,1010016,2017.0,Nitrate,McGregor,Aitkin,McGregor,Groundwater,0.025 mg/L (ND),0.025 mg/L (ND),394.0,27001.0,NaN

In [27]:
#verify data types in pandas database for Nitrate
nitrate2017_df.dtypes

pwsId                object
year                float64
analyteCode          object
pwsName              object
countyServed         object
cityServed           object
waterSource          object
mean                 object
max                  object
populationServed    float64
fips                float64
Unnamed: 11         float64
dtype: object

In [28]:
#delete the empty column on the end named "Unnamed:11"
nitrate2017_df=nitrate2017_df.drop(columns=['Unnamed: 11'])
nitrate2017_df.head()

,pwsId,year,analyteCode,pwsName,countyServed,cityServed,waterSource,mean,max,populationServed,fips
0,1010001,2017.0,Nitrate,Aitkin,Aitkin,Aitkin,Groundwater,0.025 mg/L (ND),0.025 mg/L (ND),2165.0,27001.0
1,1010002,2017.0,Nitrate,Thompson Mobile Home Park,Aitkin,Aitkin,Groundwater,0.025 mg/L (ND),0.025 mg/L (ND),45.0,27001.0
2,1010019,2017.0,Nitrate,Why-Not Park,Aitkin,Aitkin,Groundwater,0.025 mg/L (ND),0.025 mg/L (ND),25.0,27001.0
3,1010011,2017.0,Nitrate,Hill City,Aitkin,Hill City,Groundwater,0.025 mg/L (ND),0.025 mg/L (ND),633.0,27001.0
4,1010016,2017.0,Nitrate,McGregor,Aitkin,McGregor,Groundwater,0.025 mg/L (ND),0.025 mg/L (ND),394.0,27001.0

In [29]:
#verify any empty data cells
nitrate2017_df['mean'].isnull().sum()

10

In [30]:
#verify what is in the empty data cells
nullData=nitrate2017_df.loc[nitrate2017_df['mean'].isnull()]
print(nullData)

                                                 pwsId  year analyteCode  \
963                                            Source:   NaN         NaN
964                Minnesota Public Health Data Access   NaN         NaN
965  Minnesota Environmental Public Health Tracking...   NaN         NaN
966                     Minnesota Department of Health   NaN         NaN
967                                     P.O. Box 64882   NaN         NaN
968                            St. Paul, MN 55164-0882   NaN         NaN
969  Phone: (651) 201-5900 or toll free: 1-800-205-...   NaN         NaN
970                                Fax: (651) 201-5926   NaN         NaN
971                E-mail: tracking.health@state.mn.us   NaN         NaN
972                  Web: http://health.mn.gov/mndata    NaN         NaN

    pwsName countyServed cityServed waterSource mean  max  populationServed  \
963     NaN          NaN        NaN         NaN  NaN  NaN               NaN
964     NaN          NaN        NaN         NaN  NaN  NaN               NaN
965     NaN          NaN        NaN         NaN  NaN  NaN               NaN
966     NaN          NaN        NaN         NaN  NaN  NaN               NaN
967     NaN          NaN        NaN         NaN  NaN  NaN               NaN
968     NaN          NaN        NaN         NaN  NaN  NaN               NaN
969     NaN          NaN        NaN         NaN  NaN  NaN               NaN
970     NaN          NaN        NaN         NaN  NaN  NaN               NaN
971     NaN          NaN        NaN         NaN  NaN  NaN               NaN
972     NaN          NaN        NaN         NaN  NaN  NaN               NaN

     fips
963   NaN
964   NaN
965   NaN
966   NaN
967   NaN
968   NaN
969   NaN
970   NaN
971   NaN
972   NaN

In [31]:
#delete the null data and confirm no more NaN
nitrate2017_df=nitrate2017_df.dropna()
nitrate2017_df['mean'].isnull().sum()

0

In [32]:
#need to convert contaminate levels to integers

#nitrate2017_df['mean']=nitrate2017_df['mean'].str.split(" ")[0]
#nitrate2017_df['mean']=nitrate2017_df['mean'].str.replace(r'\D', '').astype(int)
#nitrate2017_df.head()

ValueError: Length of values does not match length of index